body{
        margin: 0px;
        padding: 0px;
        background: #f1f1f1;
        font-family: arial;
        box-sizing: border-box;
    }
    .card-container{
        width: 300px;
        height: 430px;
        background: #FFF;
        border-radius: 6px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        box-shadow: 0px 1px 10px 1px #000;
        overflow: hidden;
        display: inline-block;
    }
    .upper-container{
        height: 150px;
        background: #ff00ea;
    }
    .image-container{
        background: white;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        padding: 5px;
        transform: translate(100px,100px);
    }
    .image-container img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
    .lower-container{
        height: 280px;
        background: #FFF;
        padding: 20px;
        padding-top: 40px;
        text-align: center;
    }
    .lower-container h3, h4{
        box-sizing: border-box;
        line-height: .6;
        font-weight: lighter;
    }
    .lower-container h4{
        color: #ff00ea;
        opacity: .6;
        font-weight: bold;
    }
    .lower-container p{
        font-size: 16px;
        color: gray;
        margin-bottom: 30px;
    }
    .lower-container .btn2{
        width: 150px;
        padding: 12px 20px;
        background: #c300ff;
        border: none;
        color: white;
        border-radius: 30px;
        font-size: 12px;
        text-decoration: none;
        font-weight: bold;
        transition: all .3s ease-in;
    }
    .lower-container .btn2:hover{
        background: transparent;
        color: #c300ff;
        border: 2px solid #c300ff;
    }
    .lower-container .btn1{
        padding: 12px 20px;
        background: #ff00ea;
        border: none;
        color: white;
        border-radius: 30px;
        font-size: 12px;
        text-decoration: none;
        font-weight: bold;
        transition: all .3s ease-in;
    }
    .lower-container .btn1:hover{
        background: transparent;
        color: #ff00ea;
        border: 2px solid #ff00ea;
    }